.App {
  text-align: center;
}

strong {
  float: left;
  color: #7f8083;
  font-weight: 100;
}

.stopwatch {
  font-size: 76px;
  font-weight: 100;
  line-height: 160px;
  
  margin: 0;
  
  border: solid #cecfd0;
  border-width: 1px 0;
  background-color: white;
}

.splits-list {
  font-size: 20px;
  line-height: 30px;
  padding-right: 20px;
  text-align: right;
  border-bottom: 1px solid #d9dae0;
}

button {
    font-family: inherit;
    font-size: 20px;
    display: inline-block;    
    width: 72px;
    height: 72px;
    margin: 24px;
    padding: 0;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 50%;
    outline: none;
    background: white;
}

.start-button {
  color: green;
}

.stop-button {
  color: red;
}

.split-button {
  color: blue;
}

.reset-button {
  color: green;
}


